<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>

		<typeAlias alias="user" type="yjc.wdb.bbs.bean.Userbean" />
		<typeAlias alias="schedule" type="yjc.wdb.bbs.bean.Schedule" />
		<typeAlias alias="places" type="yjc.wdb.bbs.bean.PlaceVo" />
		<typeAlias alias="Reservation" type="yjc.wdb.bbs.bean.Reservation" />
		<typeAlias alias="pay" type="yjc.wdb.bbs.bean.pay" />
		<typeAlias alias="evaluation" type="yjc.wdb.bbs.bean.evaluationVo" />

		<typeAlias type="yjc.wdb.bbs.bean.TeamVo" alias="teams" />
		<typeAlias type="yjc.wdb.bbs.bean.ClaimantVo" alias="claima" />
		<typeAlias type="yjc.wdb.bbs.bean.Contest" alias="Contest" />

		<typeAlias type="yjc.wdb.bbs.bean.Work" alias="Work" />

		<typeAlias type="yjc.wdb.bbs.bean.Receipt" alias="Receipt" />

		<typeAlias type="yjc.wdb.bbs.bean.Board" alias="Board" />

		<typeAlias type="yjc.wdb.bbs.bean.BoardReply" alias="BoardReply" />

		<typeAlias type="yjc.wdb.bbs.bean.File" alias="File" />

		<typeAlias type="yjc.wdb.bbs.bean.Contest" alias="Contest" />
		
		<typeAlias type="yjc.wdb.bbs.bean.BW" alias="bw" />
		<typeAlias type="yjc.wdb.bbs.bean.IDEA" alias="idea" />
		<typeAlias type="yjc.wdb.bbs.bean.Page" alias="page" />

		<typeAlias type="yjc.wdb.bbs.bean.Criteria" alias="Criteria" />
			<typeAlias type="yjc.wdb.bbs.bean.Evaluation" alias="Eval" />
			<typeAlias type="yjc.wdb.bbs.bean.Manager" alias="manager" />
	</typeAliases>
</configuration>