<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="yjc.wdb.mappers">

	<insert id="insertmembers">
		insert into
		user(u_id,u_pass,u_name,u_hp,u_birthyear,u_email,u_major,u_postcode,u_address,u_address2,u_profile)
		values(#{u_id},#{u_pass},#{u_name},#{u_hp},#{u_birthyear},#{u_email},#{u_major},#{u_postcode},#{u_address},#{u_address2},#{u_profile})
	</insert>

	<select id="getMemberAll" resultType="user">
		select * from user
	</select>

	<select id="view" resultType="user">
		select * from user where
		u_id=#{value}
	</select>
	<select id="login" resultType="user">
		select u_id from user where u_id =
		#{u_id} and u_pass = #{u_pass}
	</select>
	<select id="idChk" resultType="user">
		select u_id from user where u_id =
		#{u_id}
	</select>



</mapper>

	
